 body
 {
   background-color: #292F36;
 }

.nav-item a:hover
 {
    cursor: pointer
 }


.fa {
  font-size: 1.5rem;
}

 .navi {
   background-color: black;
 }

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: #FFFFFF;
}
